
#map {
	height: 400px;
	width: 75%; 
	/* Center the map on the screen: */
	/*margin-left: auto; margin-right: auto;*/
}

/*h1 {
	width: 80%;
	margin-left: auto; 
	margin-right: auto;
}

div {
	height: 400px;
	width: 75%; 
	margin-left: auto; margin-right: auto;
}*/
