<!DOCTYPE html>
<html>
	<head>
		<title>Google Map Directions</title>
		<link rel='stylesheet' href='../static/style.css'>
	</head>
	<body>
		<h1>Food Finder</h1>
		<!-- Yelp API Search Bar: -->
		<input type="text" id="search-bar" placeholder="I want to eat at..." />
		<div id="results" role="list"></div>
		<div id="details" class="details" role="region" aria-live="polite" style="display:none;"></div>

		<!-- Yelp Search Bar with Autocomplete to Search for Local Business: -->
		<script type='module' src="{{ url_for('static', filename='search.js') }}"></script>

		
		<!-- Container for the map -->
		<div id="map"></div> 

		<!-- Map and Directions Script Loaded prior to Google Maps API to 
		ensure that the initMap method is globally accessible: -->
		<script src="{{ url_for('static', filename='script.js') }}"></script>

		<!-- Google Maps API Script: -->
		<script 
		src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap&libraries=places" 
		async defer></script>
	</body>
</html>
