<!DOCTYPE html>
<html>
	<head>
		<title>Google Map Directions</title>
		<style>
			#map {
				height: 400px;
				width: 75%; 
			}
		</style>
	</head>
	<body>
		<h1>Directions</h1>
		<!-- Container for the map -->
		<div id="map"></div> 

		<!-- Map and Directions Script Loaded prior to Google Maps API to 
		ensure that the initMap method is globally accessible: -->
		<script src="{{ url_for('static', filename='script.js') }}"></script>

		<!-- Google Maps API Script: -->
		<script 
		src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap&libraries=places" 
		async defer></script>
	</body>
</html>
